<?xml version="1.0"?>
<!--
  author: Johnny Romano
  date:   07-Dec-2016
  ver:    2.0
  desc:   Payroll System
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="PayrollSystem_DB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\git\CSharp\ASP\Payroll_System\content\PayrollSystem_DB.accdb"
      providerName="System.Data.OleDb" />
    
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
</configuration>