
@{
    ViewBag.Title = "Links";
}

<h2>@ViewBag.Title</h2>
<ul>
    <li><a href="http://www.jpromano.com">jpromano.com</a></li>
    <li><a href="https://twitter.com/johnpaulromano">Twitter | John Paul Romano</a></li>
    <li><a href="https://github.com/johnpromano">GitHub | Johnny Romano</a></li>
</ul>

